.content-reconn{
    width: 60%;
    margin: auto;
    height: 100px;
    background: #0deb0d00;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
    flex-direction: column;
}
.recommendation-flex{
    display: flex;
   
    background: #11ff9c00;
}
.recommendation-title{
  
   
    font-size: 20px;
    font-family: sans-serif;
    background: #ff222200;
}
.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;

}